{{- if eq .type "unknown" -}}
	unknown
{{- else -}}
	{{- $link := "#ERROR" -}}
	{{- if eq .type "qt" -}}
		{{- $link = printf "https://doc.qt.io/qt-6/%s-%s.html" (lower (replace .module "." "-")) (lower .name) -}}
	{{- else if eq .type "local" -}}
		{{- $link = printf "/docs/types/%s/%s" (lower .module) (lower .name) -}}
	{{- end -}}

	{{- $of := "" -}}
	{{- if .of -}}
		{{- $of = printf "&lt;%s&gt;" (partial "qmltype.html" .of) }}
	{{- end -}}

	<a href="{{ $link }}">{{ .name }}</a>{{ $of | safeHTML -}}
{{- end -}}
