{{- if eq .type "unknown" -}}
	unknown
{{- else -}}
	{{- $link := "" -}}
	{{- if eq .type "qt" -}}
		{{- $link = printf "https://doc.qt.io/qt-6/%s-%s.html" (lower (replace .module "." "-")) (lower .name) -}}
	{{- else if eq .type "local" -}}
		{{- $link = printf "/docs/types/%s/%s" (lower .module) (lower .name) -}}
	{{- end -}}

	{{- $of := "" -}}
	{{- if .of -}}
		{{- $of = printf "&lt;%s&gt;" (partial "qmltype.html" .of) }}
	{{- end -}}

	{{- $prefix := "" -}}
	{{- $member := "" -}}

	{{- if .mtype -}}
		{{- if .type -}}
			{{- $member = printf ".%s" .mname -}}
		{{- else -}}
			{{- $member = .mname -}}
		{{- end -}}

		{{- if eq .mtype "prop" -}}
			{{- if eq .type "qt" -}}
				{{- $link = printf "%s#%s-prop" $link .mname -}}
			{{- else -}}
				{{- $link = printf "%s#prop.%s" $link .mname -}}
			{{- end -}}
		{{- else if eq .mtype "func" -}}
			{{- $member = printf "%s()" $member -}}
			{{- if eq .type "qt" -}}
				{{- $link = printf "%s#%s-method" $link .mname -}}
			{{- else -}}
				{{- $link = printf "%s#func.%s" $link .mname -}}
			{{- end -}}
		{{- else if eq .mtype "signal" -}}
			{{- $prefix = "[signal] " -}}
			{{- $member = printf "%s()" $member -}}
			{{- if eq .type "qt" -}}
				{{- $link = printf "%s#%s-signal" $link .mname -}}
			{{- else -}}
				{{- $link = printf "%s#signal.%s" $link .mname -}}
			{{- end -}}
		{{- end -}}
	{{- end -}}

	<a href="{{ $link }}">{{ $prefix }}{{ .name }}{{ $member }}</a>{{ $of | safeHTML -}}
{{- end -}}
